<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>fuelGR</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
   <link rel="StyleSheet" href="./app.css">
   <link rel="shortcut icon" href="#" />
   

</head>

<body>
<!-- NAVBAR -->
   <nav class="navbar navbar-expand">
      <a class="navbar-brand" href="#">fuelGR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
         aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>   
         
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            </ul>
            <form class="form-inline my-2 my-lg-0">
               <% if(user==null) {%>
               <button type="button" id="sign-btn" class="btn btn-info mr-sm-2" data-toggle="modal" data-target="#signupModal">Εγγραφή</button>
               <%}%>
               <% if(user==null) {%>
               <button type="button" id="login-btn" class="btn btn-info my-2 my-sm-0" data-toggle="modal"
                  data-target="#loginModal">Login</button>
               <%}%>  
                  <% if(user!==null) {%>
            <li><a role="button" id="logout-btn" class="btn btn-info my-2 my-sm-0" href="/logout">Logout</a>
               <%}%>              
            </form>
         </div>
      </nav>

   
<!-- CURTAIN MENU -->
<!-- The overlay -->
<div id="myNav" class="overlay">

   <!-- Button to close the overlay navigation -->
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

   <!-- Overlay content -->
   <div class="overlay-content">
<!--Table and divs that hold the pie charts-->
<table class="columns">
   <tr>
      <td>
         <div id="piechart_div"></div>
      </td>
      <td>
         <div id="barchart_div"></div>
      </td>
   </tr>
</table>
   </div>
</div>
<!-- Use any element to open/show the overlay navigation menu -->
<span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Charts</span>
   

   <h1>Welcome <% if(user!==null) {%>
               <%= user %>
               <%}%></h1>


   <h6>The right place to find your fuel!!!</h6>

<!-- LOGIN MODAL -->
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div id="loginModal" class="modal fade" tabindex="-1" data-backdrop="static"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h1 class="modal-title">Είσοδος</h1>
                        <button class="close" data-dismiss="modal">&times;</button>
                     </div>
                     <div class="modal-body">
                        <div id="loginAlerts">
                           <div class="alert alert-danger" style="display:none"></div>
                           <div class="alert alert-success" style="display:none"></div>
                        </div>
                        <form id="logform">
                           <div class="form-row">
                              <div class="form-group col-md-12">
                                 <label for="username">Username</label>
                                 <input type="text" class="form-control" name="username" id="username"
                                    placeholder="Username">
                              </div>
                              <div class="form-group col-md-12">
                                 <label for="password">Κωδικός Χρήστη</label>
                                 <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password">
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="submit" id="login_button" name="login_button" class="btn btn-outline-success"
                           >Είσοδος</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!-- SIGN UP MODAL -->
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div id="signupModal" class="modal fade" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h1 class="modal-title">Εγγραφή</h1>
                        <button class="close" data-dismiss="modal">&times;</button>
                     </div>
                     <div class="modal-body">
                        <div id="signAlerts">
                           <div class="alert alert-danger" style="display:none"></div>
                           <div class="alert alert-success" style="display:none"></div>
                           <!-- <div class="alert alert-success" style="display:none"></div> -->
                        </div>
                        <form id="regform">
                           <div class="form-row">
                              <div class="form-group col-md-12">
                                 <label for="username1">Username</label>
                                 <input type="text" class="form-control" name="username" id="username1"
                                    placeholder="First Name" required>
                              </div>
                              <div class="form-group col-md-12">
                                 <label for="email">Email</label>
                                 <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                              </div>
                              <div class="form-group col-md-12">
                                 <label for="password1">Κωδικός Χρήστη</label>
                                 <input type="password" class="form-control" id="password1" name="password"
                                    placeholder="Password">
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" id="signup_button" name="signup_button" class="btn btn-outline-success"
                           data-dismiss="modal">Εγγραφή</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

<!-- ORDERS MODAL -->
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="ordersModal" class="modal fade" tabindex="-1" data-backdrop="static"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content">
                  <div class="modal-header">
                     <h1 class="modal-title">Παραγγελία / Τιμοκατάλογος</h1>
                     <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                     <form id="orderform">
                        <div class="form-row">
                           <input type="hidden" name="username" id="sessUser">
                           <div class="form-group col-lg-12">
                              <label for="gasowner">Ιδιοκτήτης:</label>
                              <span class="form-control" id="gasowner"></span>
                           </div>
                           <div class="form-group col-lg-12">
                              <label for="fuels">Καύσιμο | Τιμή:</label><span class="text-danger"id="fuel-price"></span>
                              <select class="form-control" name="productID" id="fuels-list"></select>
                           </div>
                           <div class="form-group col-lg-12">
                              <label for="quantity">Ποσότητα (lt)</label>
                              <input type="number" class="form-control" id="quantity" name="quantity" min='1' placeholder="lt">
                           </div>
                           <div class="form-group col-lg-12">
                              <label for="datetimepicker1">Ημερομηνία</label>
                              <div class="input-group date" id="datetimepicker1"  data-target-input="nearest">
                                 <input type="text" class="form-control datetimepicker-input" name="when" data-target="#datetimepicker1" />
                                 <div class="input-group-append" data-target="#datetimepicker1"data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                 </div>
                              </div>                       
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <% if(user==null) {%><span id = "noUser" class="text-danger"> Για πραγματοποίηση παραγγελίας θα πρέπει να γίνει Σύνδεση ή Εγγραφή χρήστη  !!!</span> <%}%>
                     <% if(user!==null) {%>
                     <button type="button" id="order_button" name="order_button" class="btn btn-outline-success"
                        data-dismiss="modal">Υποβολή Παραγγελίας</button> <%}%>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- MAP -->
   <div id="map">
   </div>

<!-- COUNTERS -->

<div class="container">
   <div class="row">
      <br />
   </div>

   <div class="row text-center">
      <div class="col">
         <div class="counter">
            <i class="fa fa-map-marker"></i>
            <h2 class="timer count-title count-number" id="gasCount"></h2>
            <p class="count-text ">Gas stations</p>
         </div>
      </div>
      <div class="col">
         <div class="counter">
            <i class="fa fa-minus"></i>
            <h2 class="timer count-title count-number" id="minPrice"></h2>
            <p class="count-text " id="minPrice">Min</p>
         </div>
      </div>
      <div class="col">
         <div class="counter">
            <i class="fa fa-info"></i>
            <h2 class="timer count-title count-number" id="avgPrice"></h2>
            <p class="count-text ">Avg</p>
         </div>
      </div>
      <div class="col">
         <div class="counter">
            <i class="fa fa-plus"></i>
            <h2 class="timer count-title count-number" id="maxPrice" ></h2>
            <p class="count-text ">Max</p>
         </div>
      </div>
   </div>
</div>

<!-- FOOTER -->
<p id=details> Aris &copy 2020</p>

<!-- //scripts -->
   <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY_&callback=initMap"
      async defer>
      </script>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
      </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha256-JtQPj/3xub8oapVMaIijPNoM0DHoAtgh/gwFYuN5rik=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
      </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>
   <script src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   
   
   <script src="/map.js"></script>
   <script src="/scripts.js"></script>
      <script>$('#sessUser').val('<%= user %>');</script>
</body>

</html>